@import "../../styles/settings.scss";
.container{
display: flex;
.container-img{
@include container-img-login-inscription;
img{
@include img-login-incription;
}
}
.container-form{
@include container-form-login-inscription;
.form-avatar{
@include avatar-login-inscription;
.avatar{
background-color: $secondary-color;
}
}
.connect-form{
margin-left: 50px;
input{
   @include input-login-inscription;
}
.button{
    @include button;
    font-size: 16px;  
}
}
.pos-form{
    margin-left: 50px;
}
}
}