@import "../../styles/settings.scss";
.container-profil{
    background-color: $primary-color;
    height: 100vh;

.form-profil{
    border: solid 2px;
    border-radius: 15px;
    border-color: $color-border-fond;
    width: 60%;
    height: 420px;
    margin-left: 230px;
    position: relative;
    top: 70px;
    background-color: $color-fond;
.avatar{
    margin-left: 350px;
    margin-top: 30px;
    width: 8%;
    height: 60px;
    cursor: pointer;
}
.fichier-profil{
    padding-left: 230px;
    padding-top: 10px;
    border: none;
    cursor: pointer;
}
input{
    width: 90%;
    margin-top: 5px;
    height: 35px;
    margin-left: 35px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px;
}
.button-profil{
    font-size: 16px;
    @include button;
}
.button-profil:hover{
    color: $color-border-fond;
    background-color:black;
}
label{
    margin-left: 35px;
}
}
}
.supprimer-compte{
    padding-top: 7px;
    margin-left: 35px;
.delete-icon{
    position: relative;
    top: 5px;
    cursor: pointer;
}
}

@media screen and(min-width:768px) and(max-width:1024px) {
    .container-profil{
        .form-profil{
            width: 70%;
            margin-left: 120px;
        
     .avatar{
         margin-left: 230px;
         width: 11%;
     }
     .fichier-profil{
         padding-left: 120px;
     }
    }
    }
  }
  @media screen and(max-width:767px){
    .container-profil{
        .form-profil{
            width: 70%;
            margin-left: 120px;
        
     .avatar{
         margin-left: 230px;
         width: 11%;
     }
     .fichier-profil{
         padding-left: 120px;
     }
    }
    }
  }
  @media screen and(max-width:375px){
    .container-profil{
        .form-profil{
            width: 95%;
            margin-left: 10px;
        
     .avatar{
         margin-left: 150px;
         width: 16%;
         height: 40;
     }
     .fichier-profil{
         padding-left: 40px;
     }
     input{
         margin-left: 15px;
     }
     label{
         margin-left: 15px;
     }
    }
    .supprimer-compte{
        margin-left: 15px;
    }
    }
  }
  
  