.header {
    background: white;
    width: 100%;
   
   .toolbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 25px;
   }
   .logo_home img{
       width: 35%; 
   }
   .flex-items-header{
    display: flex;
   }
   Button{
       margin-right: 120px;
   }
   .avatar{
       margin-right: 70px;
   }
   .logout {
      padding-top: 15px;
   }
   .icon-logout{
       margin-top: 12px;
       color: black;
   }
 
}
.main{
    display: flex;
    width: 100%;
    margin: 0 auto;
    background: #e6a199;
   
.feed{
   background:#E5E7E9 ;
   width: 70%;
   height: auto;
   padding: 24px;
   margin-left:180px;
   margin-top: 70px;
   border-radius: 15px;
   border: solid 1px;
   border-color: #d88a81;
.post-form{
    height: auto;
    background-color: white;
    border-radius: 5px;
    border: solid 1px;
   border-color: #d88a81;
}
.header-post{
    display: flex;
}
.avatar{
    margin-left: 10px;
    width: 7%;
    height: 55px;
    position: relative;
    top: 50px;
}
textarea{
    width: 85%;
    height: 70px;
    border-radius: 5px;
    margin-left: 90px;
    position: relative;
    bottom: 10px;
}
.text_content_input{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
}
.error-msg{
    color: rgb(233, 50, 50);
    margin-left: 90px;
    font-size: 13px;
    position: relative;
    bottom: 10px;
}
.image-post{
   margin-left: 90px; 
}
.button-post{
    width: 15%;
    height: 25px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(233, 50, 50);
    color: white;
}
.message-post{
    font-size: 13px;
    color:  rgb(233, 50, 50);
    margin-left: 90px;
}
h1{
    font-size: 20px;
    padding-top: 20px;
}
.getAll-Post{
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px;
    border-color: #d88a81;
.text-post{
    padding-top: 15px;
    padding-left: 10px;
}
.post-image-feed{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 100%;
}
.author-posts{
    padding-left: 10px;
    padding-top: 10px;
}
.favorite-icon{
    font-size: 20px;
    cursor: pointer;
    color:rgb(233, 50, 50) ;
    margin-left: 10px;
}
.delete-icon{
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.new-comments{
    width: 96%;
    height: 40px;
    margin-left: 3px;
    margin-bottom: 10px;
}
.send-icon{
    position: relative;
    top: 10px;
    cursor: pointer;
}   
}
.all-comments{
    position: relative;
.card-comments{
    border-top: solid 1px;
    border-color:#d88a81;
    margin-top: 10px;
.author-comments{
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bolder;
}
.comments-text-p{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;

}
.delete-icon-comments{
    cursor: pointer;
}
}
}
}
}

